@model Punch.Models.ClockViewModel
@{
    ViewBag.Title = "Punch Clock";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="ClockButton">
            <button class="btn btn-lg btn-primary" type="submit" id="ClockButton">
                @ViewData["Message"]
            </button>
        </div>
    </div>
</div>
