@model Punch.Models.ClockViewModel
@{
    ViewBag.Title = "Punch Clock";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="ClockButton">
            <a href="" class="btn btn-lg btn-primary">@ViewData["Message"]</a>
        </div>
    </div>
</div>
